::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #483BBF;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2E2772;
}

::-webkit-scrollbar-button {
    display: none !important;
}


.scrollable-container {
    max-height: 70vh;
    min-height: 50vh;
    overflow-y: auto;
    padding: 1rem;
    scrollbar-width: thin;
    scrollbar-color: #483BBF #E5E7EB;
}

.scrollable-container-message {
    max-height: 70vh;
    min-height: 70vh;
    overflow-y: auto;
    padding: 1rem;
}

@media (max-width: 767px) {
    .scrollable-container {
        min-height: 20vh;
        max-height: 30vh;
    }
}

@media (max-width: 767px) {
    .scrollable-container-message {
        max-height: 40vh;
        min-height: 30vh;
    }
}